.container {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(233, 233, 233);
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}