.task__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 15px;
    align-items: center;
    justify-content: start;
    border-bottom: solid 1px hsl(0, 1%, 89%);
    margin: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.task__decoration {
    text-decoration: line-through;
}

.task__hidden {
    display: none;
}