html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(233, 233, 233);
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
}